@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
:root {
  --white: #fff;
  --black: #111;
  --yellow: #f5bf23;
  --light-color: #565656;
  --light-bg: #eee;
  --box-shadow: 0 .5rem 1rem rgba(63, 63, 63, 0.1);
  --border: .1rem solid rgba(0, 0, 0, .3);
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

section {
  padding: 5rem;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--yellow);
}

.swiper-wrapper {
  transition-timing-function: linear;
}

.heading {
  margin-bottom: 3rem;
  font-size: 3rem;
  color: var(--black);
  text-transform: capitalize;
  padding-left: 1rem;
  border-left: 1rem solid var(--yellow);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--yellow);
  color: var(--black);
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
}
.btn:hover {
  background: var(--black);
  color: var(--white);
}

.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: var(--box-shadow);
  padding: 1.5rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background: var(--white);
}
.header .logo {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
}
.header .logo span {
  color: var(--yellow);
}
.header .navbar a {
  font-size: 1.6rem;
  color: var(--black);
  text-transform: capitalize;
  margin: 1rem;
}
.header .navbar a:hover {
  border-bottom: 0.4rem solid var(--yellow);
  padding: 0.5rem;
}
.header .navbar a.active {
  border-bottom: 0.4rem solid var(--yellow);
  padding: 0.5rem;
}
.header .icons div {
  height: 3rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  border-radius: 5%;
  margin-left: 0.3rem;
}
.header .icons div:hover {
  background: var(--black);
  color: var(--white);
}
.header #menu-btn {
  display: none;
}

@keyframes show {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.contact-info {
  position: fixed;
  top: 0;
  right: 0;
  width: 35rem;
  background-color: var(--white);
  height: 100%;
  text-align: center;
  z-index: 1100;
  padding: 0 2rem;
  padding-top: 5rem;
  display: none;
}
.contact-info.active {
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  display: block;
  animation: show 0.4s ease-out;
}
.contact-info #close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 4rem;
  color: var(--black);
}
.contact-info #close:hover {
  transform: rotate(90deg);
}
.contact-info .info {
  padding: 2rem 0;
}
.contact-info .info div {
  height: 3rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  border-radius: 5%;
  margin-left: 13rem;
  height: auto;
  padding: 1rem;
}
.contact-info .info div:hover {
  background: var(--black);
  color: var(--white);
}
.contact-info .info h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 1rem 0;
}
.contact-info .info p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 1.5;
}
.contact-info .share {
  padding-top: 2rem;
  border-top: var(--border);
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.contact-info .share a div {
  height: 3rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  border-radius: 5%;
  margin: 1rem 0.3rem;
  height: auto;
  padding: 1rem;
}
.contact-info .share a div:hover {
  background: var(--black);
  color: var(--white);
}

.home {
  padding: 0;
}
.home .slide {
  min-height: 40rem;
  display: flex;
  align-items: center;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}
.home .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(60deg, rgb(37, 37, 37), transparent);
}
.home .slide .content {
  width: 50rem;
  position: relative;
  padding: 3rem;
}
.home .slide .content h3 {
  font-size: 5rem;
  color: var(--black);
  text-transform: capitalize;
  text-transform: uppercase;
  color: var(--white);
}
.home .slide .content p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 1.5;
  padding: 1rem 0;
  color: var(--white);
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.about .row .video {
  flex: 1 1 41rem;
}
.about .row .video video {
  width: 100%;
}
.about .row .content {
  flex: 1 1 41rem;
}
.about .row .content h3 {
  font-size: 3.5rem;
  color: var(--black);
  text-transform: capitalize;
}
.about .row .content p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 1.5;
  padding: 1rem;
}
.about .box-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
  align-items: flex-end;
}
.about .box-container .box {
  text-align: center;
  background: var(--light-bg);
  padding: 3rem 2rem;
}
.about .box-container .box h3 {
  font-size: 4rem;
  color: var(--black);
  text-transform: capitalize;
}
.about .box-container .box p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 1.5;
}

.services {
  background: var(--light-color);
}
.services .heading {
  color: var(--white);
}
.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}
.services .box-container .box {
  text-align: center;
  padding: 3rem;
  background: var(--white);
  box-shadow: var(--box-shadow);
  border: var(--border);
}
.services .box-container .box:hover img {
  transform: translateY(-1rem);
}
.services .box-container .box img {
  height: 7rem;
  margin-bottom: 0.5rem;
}
.services .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 1rem 0;
}
.services .box-container .box p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 1.5;
}

.projects {
  background: var(--black);
}
.projects .heading {
  color: var(--white);
}
.projects .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.projects .box-container .box {
  cursor: pointer;
}
.projects .box-container .box .image {
  height: 40rem;
  overflow: hidden;
  position: relative;
}
.projects .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.projects .box-container .box .image::after {
  --yellow: #f5c123ad;
  content: url(/assets/icons/eye.svg);
  position: absolute;
  background: var(--yellow);
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.2s ease;
}
.projects .box-container .box .image:hover::after {
  opacity: 1;
}
.projects .box-container .box .content {
  display: flex;
  background: var(--white);
  justify-content: space-between;
}
.projects .box-container .box .content .info {
  padding: 1rem 2rem;
}
.projects .box-container .box .content .info h3 {
  font-size: 1.7rem;
  color: var(--black);
  text-transform: capitalize;
}
.projects .box-container .box .content .info p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 1.5;
}

.reviews .reviews-slider {
  height: fit-content;
}
.reviews .slide p {
  padding: 1.4rem;
  background: var(--light-bg);
  position: relative;
  margin-bottom: 3rem;
  line-height: 3rem;
  font-size: 1.4rem;
  color: var(--black);
  text-transform: capitalize;
}
.reviews .slide p::before {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  background: var(--light-bg);
  transform: rotate(45deg);
}
.reviews .slide .user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.reviews .slide .user img {
  height: 7rem;
  width: 7rem;
}
.reviews .slide .user h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
}
.reviews .slide .user .stars {
  padding-top: 0.5rem;
}
.reviews .slide .user .stars svg {
  font-size: 1.3rem;
  color: var(--yellow);
}

.contact {
  background: var(--light-bg);
}
.contact .heading {
  color: var(--black);
}
.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.contact .row .map {
  flex: 1 1 41rem;
  width: 100%;
}
.contact .row form {
  flex: 1 1 41rem;
  background: var(--white);
  padding: 2rem;
  box-shadow: var(--box-shadow);
}
.contact .row form .box {
  margin: 0.7rem 0;
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--light-color);
  outline: none;
  border-bottom: var(--border);
}
.contact .row form .box:focus {
  border-bottom: var(--border);
  border-color: var(--yellow);
  transition: all 0.3s ease;
}
.contact .row form textarea {
  height: 15rem;
  resize: none;
}
.contact .row form input[type=submit] {
  width: 100%;
}

.logo-container {
  text-align: center;
  height: fit-content;
}
.logo-container h3 {
  font-size: 3rem;
  color: var(--black);
  text-transform: capitalize;
  padding-bottom: 2rem;
}
.logo-container img {
  height: 10rem;
  pointer-events: none;
  user-select: none;
}

@media (max-width: 1200px) {
  .header {
    padding: 1.5rem 1rem;
  }
  section {
    padding: 3rem 5%;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 25rem;
    background-color: var(--white);
    height: 100%;
    text-align: center;
    z-index: 1100;
    padding: 0 1rem;
    padding-top: 3rem;
    display: none;
  }
  .header .navbar.active {
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
    display: block;
    animation: show 0.4s ease-out;
  }
  .header .navbar a {
    display: block;
    padding: 1rem;
    margin: 1rem;
  }
  .header .navbar a:hover {
    background: var(--yellow);
    padding: 0.5rem;
    border-bottom: none;
  }
  .header .navbar a.active {
    background: var(--yellow);
    padding: 0.5rem;
  }
  .header .icons {
    display: flex;
    gap: 0.5rem;
  }
  .header .icons div {
    height: 3rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;
    border-radius: 5%;
  }
  .header .icons div:hover {
    background: var(--black);
    color: var(--white);
  }
}
@media (max-width: 768px) {
  .header .contact-info {
    width: 30rem;
  }
  .home .slide {
    justify-content: center;
  }
  .home .slide .content {
    text-align: center;
  }
  .home .slide .content h3 {
    font-size: 3rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
