@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

:root {

    --apple-50: #f3fcf1;
    --apple-100: #e1f9df;
    --apple-200: #c5f2c0;
    --apple-300: #95e78e;
    --apple-400: #5fd256;
    --apple-500: #39b82f;
    --apple-600: #2a9b22;
    --apple-700: #24771e;
    --apple-800: #1f5f1c;
    --apple-900: #1b4e19;
    --apple-950: #082b08;


    --white: #fff;
    --black: #111;
    --yellow: #f5bf23;
    --light-color: #565656;
    --light-bg: #eee;

    --primary: #4d58d1;
    --secondary: #bf905b;
    --color-bg: #FFA41B;
    --light-text: #0C356A;
    --light-title: #072541;
    --dark-text: #FFF6F4;
    --box-shadow: 0 -1rem 23rem 3rem rgba(248, 109, 3, 0.1);
    --border: .1rem solid #0C356A;
}

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 2fr));
    gap: 2rem;
}

@mixin titleText($titleSize, $titleWeight) {
    font-size: $titleSize;
    color: var(--light-title);
    text-transform: capitalize;
    font-weight: $titleWeight;
}

@mixin graphText($graphSize) {
    font-size: $graphSize;
    color: var(--light-text);
    line-height: 1.5;
}

@mixin iconBox($color) {
    color: $color;
    cursor: pointer;
    text-align: center;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    // transition: all .15s ease;
}

html {
    font-size: 62%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

    // &::-webkit-scrollbar {
    //     width: 1rem;
    // }

    // &::-webkit-scrollbar-track {
    //     background: transparent;
    // }

    // &::-webkit-scrollbar-thumb {
    //     background: var(--primary);
    // }
}

section {
    padding: 5rem;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--color-bg);
}

.swiper-wrapper {
    transition-timing-function: linear;
}

.heading {
    margin-bottom: 3rem;
    @include titleText(3rem, 500);
    padding-left: 1rem;
    border-left: 1rem solid var(--secondary);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--apple-500);
    color: var(--apple-50);
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: capitalize;

    &:hover {
        background: var(--apple-600);
    }
}

#menu-nav {
    display: none;
}

.header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: var(--apple-100);

    &.sticky {
        background: var(--apple-600);
        animation: none;

        .navbar {

            a {
                color: var(--apple-50);

                &:hover {
                    padding: .5rem;
                    color: var(--apple-950);
                }

                &.active {
                    color: var(--apple-950);
                    padding: .5rem;
                }
            }
        }

        .social-links {
            a {
                color: var(--white);
                padding: .7rem;

                &:hover {
                    color: var(--light-text);
                }
            }
        }

    }

    .logo img {
        width: 70px;
        height: 70px
    }

    .navbar {
        a {
            @include titleText(1.6rem, bold);
            margin: 1rem;

            &:hover {
                padding: .5rem;
                color: var(--apple-400);
            }

            &.active {
                color: var(--apple-400);
                padding: .5rem;
            }
        }
    }

    .social-links {
        a {
            color: var(--apple-950);
            padding: .7rem;

            &:hover {
                color: var(--apple-400);
            }
        }
    }

    .icons {
        #menu-btn {
            margin-right: 4rem;
            display: none;
        }
    }

    #menu-btn {
        display: none;
    }
}

@keyframes show {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.home {
    padding: 0;

    .slide {
        min-height: 40rem;
        display: flex;
        align-items: center;
        position: relative;
        background-size: cover !important;
        background-position: center !important;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(60deg, rgb(37, 37, 37), transparent);
        }

        .content {
            width: 50rem;
            position: relative;
            padding: 3rem;

            h3 {
                @include titleText(5rem, 600);
                text-transform: uppercase;
                color: var(--apple-100)
            }

            p {
                @include graphText(1.6rem);
                padding: 1rem 0;
                color: var(--apple-100)
            }
        }
    }
}

.about {
    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;

        .video {
            flex: 1 1 41rem;

            video {
                width: 100%;
            }
        }

        .content {
            flex: 1 1 41rem;

            h3 {
                @include titleText(3.5rem, 500);
            }

            p {
                @include graphText(1.5rem);
                padding: 1rem;
            }

        }
    }

    .box-container {
        margin-top: 3rem;
        @include grid(16rem);
        align-items: flex-end;
        background: url(assets/bg/bg-1.svg) no-repeat;
        background-size: cover !important;

        .box {
            background: rgba(255, 255, 255, 0.76);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5.5px);
            border: 1px solid rgba(255, 0, 0, 0.01);
            text-align: center;
            padding: 3rem 2rem;

            h3 {
                @include titleText(4rem, 500);
            }

            p {
                @include graphText(1.5rem);
                font-weight: 600;
            }
        }
    }
}

.services {
    background-color: #FFF6F4;
    background-image: radial-gradient(#0C356A 0.45px, #ffffff 0.45px);
    background-size: 9px 9px;

    .heading {
        color: var(--light-title)
    }

    .box-container {
        @include grid(25rem);

        .box {
            align-items: center;
            padding: 3rem;
            background: rgba(217, 217, 217, 0.58);
            border: 1px solid white;
            box-shadow: 2px 7px 51px rgba(75, 75, 75, 0.22);
            backdrop-filter: blur(6px);
            border-radius: 17px;
            text-align: center;
            transition: all 0.5s;

            &:hover {
                border: 1px solid var(--light-title);
                transform: scale(1.01);
            }

            img {
                height: 7rem;
                margin-bottom: .5rem;
            }

            h3 {
                @include titleText(1.7rem, 600);
                padding: .5rem;
            }

            p {
                @include graphText(1.5rem);

            }
        }
    }
}

.projects {
    background: var(--light-title);

    .heading {
        color: var(--white)
    }

    .box-container {
        @include grid(25rem);

        .box {
            cursor: pointer;
            width: 30rem;

            &:hover .image img {
                filter: blur(1px);
            }

            .image {
                width: 30rem;
                height: 30rem;
                overflow: hidden;
                position: relative;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                &::after {
                    --color-bg: #ffa41b8f;
                    content: url(/assets/icons/eye.svg);
                    position: absolute;
                    background: var(--color-bg);
                    inset: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    transition: all .2s ease;
                }

                &:hover::after {
                    opacity: 1;
                }

            }

            .content {
                display: flex;
                background: var(--light-bg);
                justify-content: space-between;
                width: 30rem;

                .info {
                    padding: 1rem 2rem;

                    h3 {
                        @include titleText(1.7rem, 600);
                        text-align: center;
                    }

                    p {

                        @include graphText(1.5rem);
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

.reviews {

    .reviews-slider {
        height: fit-content;
    }

    .slide {
        p {
            padding: 1.4rem;
            background: var(--light-bg);
            position: relative;
            margin-bottom: 3rem;
            line-height: 3rem;

            @include titleText(1.4rem, 400);

            &::before {
                content: '';
                position: absolute;
                bottom: -1rem;
                left: 2rem;
                height: 2rem;
                width: 2rem;
                background: var(--light-bg);
                transform: rotate(45deg);
            }
        }

        .user {
            display: flex;
            align-items: center;
            gap: 1.5rem;

            img {
                height: 7rem;
                width: 7rem;
            }

            h3 {
                @include titleText(1.7rem, 600);
            }

            .stars {
                padding-top: .5rem;

                svg {
                    width: 1.5rem;
                    color: var(--color-bg);
                }

            }
        }
    }
}

.contact {
    background: var(--dark-text);

    .row {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;

        .map {
            flex: 1 1 41rem;
            width: 100%;
        }

        form {
            flex: 1 1 41rem;
            background: var(--white);
            padding: 2rem;
            box-shadow: 0 -1rem 8rem 3rem rgba(81, 81, 81, 0.146);

            .box {
                margin: .7rem 0;
                width: 100%;
                padding: 1.5rem;
                font-size: 1.6rem;
                color: var(--light-color);
                outline: none;
                border-bottom: var(--border);

                &:focus {
                    border-bottom: var(--border);
                    border-color: var(--yellow);
                    transition: 0.4s ease;
                }
            }


            textarea {
                height: 15rem;
                resize: none;
            }

            input[type=submit] {
                width: 100%;
            }
        }
    }
}

.logo-container {
    text-align: center;
    height: fit-content;
    padding-top: 1rem;

    h3 {
        @include titleText(3rem, 600);
        padding: 2rem 0;
    }

    img {
        height: 10rem;
        pointer-events: none;
        user-select: none;
    }
}

.footer {
    .copyright {
        background: var(--light-title);
        padding: 2rem;
        color: var(--dark-text);
        width: 100%;

        p {
            @include titleText(1.4rem, 300);
            color: var(--dark-text);

            text-align: center;
        }
    }
}







@media (max-width:1200px) {

    .header {
        padding: 1.5rem 1rem;
    }

    section {
        padding: 3rem 5%;
    }
}

@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    section {
        padding: 3rem 2rem;
    }

    .header {
        .icons #menu-btn {
            display: inline-block;
            cursor: pointer;
        }

        .navbar {
            display: none;
        }

        &.sticky {
            .icons #menu-btn {
                color: var(--dark-text);
            }

            .navbar {
                a {
                    color: var(--light-text);

                    &:hover {
                        padding: .5rem;
                        color: var(--color-bg);
                    }

                    &.active {
                        color: var(--color-bg);
                        padding: .5rem;
                    }
                }
            }
        }

        .social-links {
            display: none;
        }
    }

    #menu-nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 30rem;
        background: var(--dark-text);
        height: 100%;
        text-align: center;
        z-index: 1100;
        padding: 4rem 1rem;
        display: none;

        &.active {
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, .7);
            display: inline-block;
            animation: show .4s ease-out;

            #info {
                padding-top: 2rem;
                border-top: .1rem solid var(--light-title);

                a {
                    display: block;
                    cursor: pointer;
                }
            }

            #links {
                display: flex;
                justify-content: center;
                gap: 1rem;
                border-top: .1rem solid var(--light-title);
                padding-top: 2rem;
                padding-bottom: 2rem;

                a {
                    margin: 0;
                }
            }

            #close {
                display: inline-block;
            }
        }

        #close {
            position: absolute;
            top: 1rem;
            right: 1.5rem;
            cursor: pointer;
            font-size: 4rem;
            color: var(--light-title);

            &:hover {
                transform: rotate(90deg);
            }
        }

        a {
            display: block;
            padding: 1rem;
            margin: 1rem;
            color: var(--light-text);
            @include titleText(1.5rem, bold);

            &:hover {
                padding: .5rem;
                color: var(--color-bg);
            }

            &.active {
                color: var(--color-bg);
                padding: .5rem;
            }
        }

        #links {
            a {
                color: var(--light-title);
                padding: .7rem;

                &:hover {
                    color: var(--color-bg);
                }
            }
        }
    }
}

@media (max-width:768px) {
    .header {
        .contact-info {
            width: 30rem;
        }
    }

    .home .slide {
        justify-content: center;

        .content {
            text-align: center;

            h3 {
                font-size: 3rem;
            }
        }
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}