@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
:root {
  --apple-50: #f3fcf1;
  --apple-100: #e1f9df;
  --apple-200: #c5f2c0;
  --apple-300: #95e78e;
  --apple-400: #5fd256;
  --apple-500: #39b82f;
  --apple-600: #2a9b22;
  --apple-700: #24771e;
  --apple-800: #1f5f1c;
  --apple-900: #1b4e19;
  --apple-950: #082b08;
  --white: #ffff;
  --black: #111;
  --yellow: #f5bf23;
  --light-color: #565656;
  --light-bg: #eee;
  --primary: #4d58d1;
  --secondary: #bf905b;
  --color-bg: #FFA41B;
  --light-text: #0C356A;
  --light-title: #072541;
  --dark-text: #FFF6F4;
  --box-shadow: 0 .4rem 1.1rem .2rem rgba(114, 114, 114, 0.548);
  --border: .1rem solid #0C356A;
}

@keyframes show {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes treeAnimate {
  0% {
    transform: rotateX(-20deg) rotateY(360deg);
  }
  100% {
    transform: rotateX(-20deg) rotateY(0deg);
  }
}
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

section {
  padding: 2.5rem;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--apple-500);
}

.swiper-wrapper {
  transition-timing-function: linear;
}

.heading {
  margin-bottom: 3rem;
  font-size: 3rem;
  color: var(--light-title);
  font-weight: 500;
  padding-left: 1rem;
  border-left: 1rem solid var(--apple-500);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--apple-600);
  color: var(--apple-50);
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 500;
  border-radius: 5px;
}
.btn:hover {
  background: var(--apple-500);
}

#menu-nav {
  display: none;
}

.float {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 40px;
  background-color: var(--light-title);
  border-radius: 10px;
  text-align: center;
  align-items: center;
  padding-top: 1.2rem;
}

.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  padding: 1.5rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background: var(--apple-50);
  box-shadow: var(--box-shadow);
}
.header .logo img {
  width: 15rem;
}
.header .navbar a {
  font-size: 1.6rem;
  color: var(--light-title);
  font-weight: bold;
  margin: 1rem;
}
.header .navbar a:hover {
  color: var(--apple-400);
}
.header .navbar a.active {
  color: var(--apple-400);
}
.header .social-links {
  text-align: center;
  margin-right: -12rem;
}
.header .social-links a {
  color: var(--apple-950);
  padding: 0.7rem;
}
.header .social-links a:hover {
  color: var(--apple-400);
}
.header .social-links .info {
  display: flex;
  gap: 1.5rem;
  padding: 1.4rem 0 0;
}
.header .social-links .info p {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--light-title);
  font-weight: 550;
}
.header .social-links .info p:hover {
  color: var(--apple-400);
}
.header .icons #menu-btn {
  margin-right: 4rem;
  display: none;
}
.header #menu-btn {
  display: none;
}

.home {
  padding: 0;
}
.home .slide {
  min-height: 73rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}
.home .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(185deg, rgb(37, 37, 37), transparent);
}
.home .slide .content {
  width: 80rem;
  position: relative;
  padding: 3rem;
  text-align: center;
}
.home .slide .content h3 {
  font-size: 6rem;
  color: var(--light-title);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--apple-100);
}
.home .slide .content p {
  font-size: 2rem;
  color: var(--light-text);
  line-height: 1.5;
  padding: 1rem 0;
  font-weight: 500;
  color: var(--apple-100);
}
.home .slide .content a {
  margin-top: 4rem;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.about .row .img_about {
  flex: 1 1 41rem;
}
.about .row .img_about img {
  width: 100%;
  border-radius: 1%;
}
.about .row .content {
  flex: 1 1 20rem;
}
.about .row .content h3 {
  font-size: 3rem;
  color: var(--light-title);
  font-weight: 500;
}
.about .row .content p {
  font-size: 1.5rem;
  color: var(--light-text);
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.about .box-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 2fr));
  gap: 2rem;
  align-items: center;
}
.about .box-container .box {
  text-align: center;
  background: var(--apple-100);
  padding: 3rem 2rem;
  border-radius: 1rem;
}
.about .box-container .box h3 {
  font-size: 4rem;
  color: var(--light-title);
  font-weight: 500;
}
.about .box-container .box p {
  font-size: 1.5rem;
  color: var(--light-text);
  line-height: 1.5;
  font-weight: 600;
}

.goals {
  background: var(--apple-300);
}
.goals .heading {
  color: var(--light-title);
}
.goals .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
  gap: 2rem;
}
.goals .box-container .box {
  text-align: center;
  padding: 3rem;
  background: var(--apple-50);
  border-radius: 2%;
}
.goals .box-container .box img {
  height: 7rem;
  margin-bottom: 0.5rem;
}
.goals .box-container .box h3 {
  font-size: 1.7rem;
  color: var(--light-title);
  font-weight: 600;
  padding: 0.5rem;
}
.goals .box-container .box p {
  font-size: 1.5rem;
  color: var(--light-text);
  line-height: 1.5;
}

.projects {
  background: var(--apple-200);
}
.projects .heading {
  color: var(--light-title);
}
.projects .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 2fr));
  gap: 2rem;
}
.projects .box-container .box {
  cursor: pointer;
  width: 30rem;
}
.projects .box-container .box .image {
  width: 30rem;
  height: 30rem;
  overflow: hidden;
  position: relative;
  border-radius: 2%;
}
.projects .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.projects .box-container .box .image::after {
  --bg-project: #07254185;
  content: "Ver";
  position: absolute;
  background: var(--bg-project);
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--apple-50);
  font-size: 2.5rem;
  font-weight: 500;
  clip-path: circle(0 at top left);
  transition: clip-path 0.4s;
}
.projects .box-container .box .image:hover::after {
  clip-path: circle(150% at top right);
}
.projects .box-container .box .content {
  display: flex;
  background: var(--white);
  justify-content: space-between;
  width: 30rem;
}
.projects .box-container .box .content .info {
  padding: 1rem 2rem;
}
.projects .box-container .box .content .info h3 {
  font-size: 1.7rem;
  color: var(--light-title);
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}
.projects .box-container .box .content .info p {
  font-size: 1.4rem;
  color: var(--light-text);
  line-height: 1.5;
  font-weight: 500;
  text-align: justify;
}

.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}
.contact .row .containerTree {
  width: 100%;
  align-self: center;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  padding-top: 20rem;
}
.contact .row .tree {
  position: absolute;
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(30deg);
  animation: treeAnimate 5s linear infinite;
}
.contact .row .tree div {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateY(calc(25px * var(--x))) translateZ(0px);
}
.contact .row .tree div.branch span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #69c069, #77dd77);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  border-bottom: 5px solid rgba(0, 0, 0, 0.0980392157);
  transform-origin: bottom;
  transform: rotateY(calc(90deg * var(--i))) rotateX(30deg) translateZ(28.5px);
}
.contact .row .tree div.stem span {
  position: absolute;
  top: 110px;
  left: calc(50% - 7.5px);
  width: 15px;
  height: 50%;
  background: linear-gradient(90deg, #bb4622, #df7214);
  border-bottom: 5px solid rgba(0, 0, 0, 0.0980392157);
  transform-origin: bottom;
  transform: rotateY(calc(90deg * var(--i))) translateZ(7.5px);
}
.contact .row .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  filter: blur(20px);
  transform-style: preserve-3d;
  transform: rotateX(90deg) translateZ(-65px);
}
.contact .row .map {
  flex: 1 1 41rem;
  width: 100%;
  border-radius: 2%;
}
.contact .row form {
  flex: 1 1 41rem;
  background: var(--white);
  padding: 2rem;
  box-shadow: 1rem 1rem 9rem 1rem rgba(81, 81, 81, 0.146);
  position: relative;
  border-radius: 2%;
}
.contact .row form .containerInput .box {
  margin: 0.7rem 0;
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--light-color);
  outline: none;
  border-bottom: var(--border);
}
.contact .row form .containerInput .box:focus {
  border-bottom: var(--border);
  border-color: var(--apple-400);
  transition: 0.4s ease;
}
.contact .row form textarea {
  height: 15rem;
  resize: none;
}
.contact .row form input[type=submit] {
  width: 100%;
}

.logo-container {
  text-align: center;
  height: fit-content;
  padding-top: 1rem;
}
.logo-container h3 {
  font-size: 3rem;
  color: var(--light-title);
  font-weight: 600;
  padding: 2rem 0;
}
.logo-container img {
  height: 10rem;
  pointer-events: none;
  user-select: none;
}

.footer .copyright {
  background: var(--apple-700);
  padding: 2rem;
  width: 100%;
}
.footer .copyright p {
  font-size: 1.4rem;
  color: var(--light-title);
  font-weight: 500;
  color: var(--apple-50);
  text-align: center;
}

@media (max-width: 1024px) {
  .header .icons #menu-btn {
    display: inline-block;
    cursor: pointer;
  }
  .header .navbar {
    display: none;
  }
  .header .social-links {
    display: none;
  }
}
@media (max-width: 1200px) {
  .header {
    padding: 1.5rem 1rem;
  }
  section {
    padding: 3rem 5%;
  }
  .projects .box-container {
    justify-items: center;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
  .header .icons #menu-btn {
    display: inline-block;
    cursor: pointer;
  }
  .header .navbar {
    display: none;
  }
  .header .social-links {
    display: none;
  }
  #menu-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 30rem;
    background: var(--apple-50);
    height: 100%;
    text-align: center;
    z-index: 1100;
    padding: 4rem 1rem;
    display: none;
  }
  #menu-nav.active {
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
    display: inline-block;
    animation: show 0.4s ease-out;
  }
  #menu-nav.active #info {
    padding-top: 2rem;
    border-top: 0.1rem solid var(--light-title);
  }
  #menu-nav.active #info a {
    display: block;
    cursor: pointer;
  }
  #menu-nav.active #links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-top: 0.1rem solid var(--light-title);
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  #menu-nav.active #links a {
    margin: 0;
  }
  #menu-nav.active #close {
    display: inline-block;
  }
  #menu-nav #close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    font-size: 4rem;
    color: var(--light-title);
  }
  #menu-nav #close:hover {
    transform: rotate(90deg);
  }
  #menu-nav a {
    display: block;
    padding: 1rem;
    margin: 1rem;
    color: var(--light-text);
    font-size: 1.5rem;
    color: var(--light-title);
    font-weight: bold;
  }
  #menu-nav a:hover {
    color: var(--apple-400);
  }
  #menu-nav a.active {
    color: var(--apple-400);
  }
  #menu-nav #links a {
    color: var(--light-title);
    padding: 0.7rem;
  }
  #menu-nav #links a:hover {
    color: var(--apple-400);
  }
  .projects {
    justify-items: center;
  }
  .projects .box-container .box .image::after {
    clip-path: none;
    animation: none;
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .header .contact-info {
    width: 30rem;
  }
  .home .slide {
    justify-content: center;
    min-height: 100rem;
  }
  .home .slide .content {
    text-align: center;
  }
  .home .slide .content h3 {
    font-size: 3rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .about .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 2fr));
    gap: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
