@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

:root {

    --apple-50: #f3fcf1;
    --apple-100: #e1f9df;
    --apple-200: #c5f2c0;
    --apple-300: #95e78e;
    --apple-400: #5fd256;
    --apple-500: #39b82f;
    --apple-600: #2a9b22;
    --apple-700: #24771e;
    --apple-800: #1f5f1c;
    --apple-900: #1b4e19;
    --apple-950: #082b08;


    --white: #fff;
    --black: #111;
    --yellow: #f5bf23;
    --light-color: #565656;
    --light-bg: #eee;

    --primary: #4d58d1;
    --secondary: #bf905b;
    --color-bg: #FFA41B;
    --light-text: #0C356A;
    --light-title: #072541;
    --dark-text: #FFF6F4;
    --box-shadow: 0 -1rem 23rem 3rem rgba(248, 109, 3, 0.1);
    --border: .1rem solid #0C356A;
}

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 2fr));
    gap: 2rem;
}

@mixin titleText($titleSize, $titleWeight) {
    font-size: $titleSize;
    color: var(--light-title);
    font-weight: $titleWeight;
}

@mixin graphText($graphSize) {
    font-size: $graphSize;
    color: var(--light-text);
    line-height: 1.5;
}

@mixin iconBox($color) {
    color: $color;
    cursor: pointer;
    text-align: center;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    font-size: 62%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

    // &::-webkit-scrollbar {
    //     width: 1rem;
    // }

    // &::-webkit-scrollbar-track {
    //     background: transparent;
    // }

    // &::-webkit-scrollbar-thumb {
    //     background: var(--primary);
    // }
}

section {
    padding: 5rem;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--apple-500);
}

.swiper-wrapper {
    transition-timing-function: linear;
}

.heading {
    margin-bottom: 3rem;
    @include titleText(3rem, 500);
    padding-left: 1rem;
    border-left: 1rem solid var(--apple-500);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--apple-600);
    color: var(--apple-50);
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 500;

    &:hover {
        background: var(--apple-500);
    }
}

#menu-nav {
    display: none;
}

.header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    padding: 1.5rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: var(--apple-50);

    .logo img {
        width: 15rem;
    }

    .navbar {
        a {
            @include titleText(1.6rem, bold);
            margin: 1rem;

            &:hover {
                color: var(--apple-400);
            }

            &.active {
                color: var(--apple-400);
            }
        }
    }

    .social-links {
        text-align: center;
        margin-right: -12rem;

        a {
            color: var(--apple-950);
            padding: .7rem;

            &:hover {
                color: var(--apple-400);
            }
        }

        .info {
            display: flex;
            gap: 1.5rem;
            padding: 1.4rem 0 0;

            p {
                cursor: pointer;

                @include titleText(1.2rem, 550);

                &:hover {
                    color: var(--apple-400);
                }
            }
        }
    }

    .icons {
        #menu-btn {
            margin-right: 4rem;
            display: none;
        }
    }

    #menu-btn {
        display: none;
    }
}

@keyframes show {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.home {
    padding: 0;

    .slide {
        min-height: 60rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-size: cover !important;
        background-position: center !important;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(185deg, rgb(37, 37, 37), transparent);
        }

        .content {
            width: 80rem;
            position: relative;
            padding: 3rem;
            text-align: center;

            h3 {
                @include titleText(6rem, 600);
                text-transform: uppercase;
                color: var(--apple-100)
            }

            p {
                @include graphText(2rem);
                padding: 1rem 0;
                font-weight: 500;
                color: var(--apple-100)
            }

            a {
                margin-top: 4rem;
            }
        }
    }
}

.about {
    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;

        .img_about {
            flex: 1 1 41rem;

            img {
                width: 100%;
            }
        }

        .content {
            flex: 1 1 20rem;

            h3 {
                @include titleText(3rem, 500);
            }

            p {
                @include graphText(1.5rem);
                margin-bottom: 1.5rem;
            }
        }
    }

    .box-container {
        margin-top: 3rem;
        @include grid(16rem);
        align-items: center;

        .box {
            text-align: center;
            background: var(--apple-100);
            padding: 3rem 2rem;

            h3 {
                @include titleText(4rem, 500);
            }

            p {
                @include graphText(1.5rem);
                font-weight: 600;
            }
        }
    }
}

.goals {
    background: var(--apple-300);

    .heading {
        color: var(--light-title)
    }

    .box-container {
        @include grid(25rem);

        .box {
            text-align: center;
            padding: 3rem;
            background: var(--apple-50);

            &:hover {
                transform: scale(1.01);
            }

            img {
                height: 7rem;
                margin-bottom: .5rem;
            }

            h3 {
                @include titleText(1.7rem, 600);
                padding: .5rem;
            }

            p {
                @include graphText(1.5rem);
            }
        }
    }
}


.projects {
    background: var(--apple-200);

    .heading {
        color: var(--light-title)
    }

    .box-container {
        @include grid(30rem);

        .box {
            cursor: pointer;
            width: 30rem;

            .image {
                width: 30rem;
                height: 30rem;
                overflow: hidden;
                position: relative;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                &::after {
                    --bg-project: #07254185;
                    content: 'Ver';
                    position: absolute;
                    background: var(--bg-project);
                    inset: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    transition: all .2s ease;
                    text-align: center;
                    color: var(--apple-50);
                    font-size: 2rem;
                    font-weight: 500;
                }

                &:hover::after {
                    opacity: 1;
                }

            }

            .content {
                display: flex;
                background: var(--white);
                justify-content: space-between;
                width: 30rem;

                .info {
                    padding: 1rem 2rem;

                    h3 {
                        @include titleText(1.7rem, 600);
                        text-align: center;
                        margin-bottom: 1rem;
                    }

                    p {
                        @include graphText(1.4rem);
                        font-weight: 500;
                        text-align: justify;
                    }
                }
            }
        }
    }
}

// .reviews {

//     .reviews-slider {
//         height: fit-content;
//     }

//     .slide {
//         p {
//             padding: 1.4rem;
//             background: var(--light-bg);
//             position: relative;
//             margin-bottom: 3rem;
//             line-height: 3rem;

//             @include titleText(1.4rem, 400);

//             &::before {
//                 content: '';
//                 position: absolute;
//                 bottom: -1rem;
//                 left: 2rem;
//                 height: 2rem;
//                 width: 2rem;
//                 background: var(--light-bg);
//                 transform: rotate(45deg);
//             }
//         }

//         .user {
//             display: flex;
//             align-items: center;
//             gap: 1.5rem;

//             img {
//                 height: 7rem;
//                 width: 7rem;
//             }

//             h3 {
//                 @include titleText(1.7rem, 600);
//             }

//             .stars {
//                 padding-top: .5rem;

//                 svg {
//                     width: 1.5rem;
//                     color: var(--color-bg);
//                 }

//             }
//         }
//     }
// }

.contact {

    .row {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;

        .map {
            flex: 1 1 41rem;
            width: 100%;
        }

        form {
            flex: 1 1 41rem;
            background: var(--white);
            padding: 2rem;
            box-shadow: 1rem 1rem 9rem 1rem rgba(81, 81, 81, 0.146);

            .box {
                margin: .7rem 0;
                width: 100%;
                padding: 1.5rem;
                font-size: 1.6rem;
                color: var(--light-color);
                outline: none;
                border-bottom: var(--border);

                &:focus {
                    border-bottom: var(--border);
                    border-color: var(--apple-400);
                    transition: 0.4s ease;
                }
            }


            textarea {
                height: 15rem;
                resize: none;
            }

            input[type=submit] {
                width: 100%;
            }
        }
    }
}

.logo-container {
    text-align: center;
    height: fit-content;
    padding-top: 1rem;

    h3 {
        @include titleText(3rem, 600);
        padding: 2rem 0;
    }

    img {
        height: 10rem;
        pointer-events: none;
        user-select: none;
    }
}

.footer {
    .copyright {
        background: var(--apple-700);
        padding: 2rem;
        width: 100%;

        p {
            @include titleText(1.4rem, 500);
            color: var(--apple-50);
            text-align: center;
        }
    }
}



// 320px
// 480px
// 600px
// 768px
// 900px
// 1024px
// 1200px

@media (max-width:1024px) {
    .header {
        .icons #menu-btn {
            display: inline-block;
            cursor: pointer;
        }

        .navbar {
            display: none;
        }

        .social-links {
            display: none;
        }
    }
}

@media (max-width:1200px) {

    .header {
        padding: 1.5rem 1rem;
    }

    section {
        padding: 3rem 5%;
    }

    .projects {
        .box-container {
            justify-items: center;
        }
    }
}

@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    section {
        padding: 3rem 2rem;
    }

    .header {
        .icons #menu-btn {
            display: inline-block;
            cursor: pointer;
        }

        .navbar {
            display: none;
        }

        .social-links {
            display: none;
        }
    }

    #menu-nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 30rem;
        background: var(--apple-50);
        height: 100%;
        text-align: center;
        z-index: 1100;
        padding: 4rem 1rem;
        display: none;

        &.active {
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, .7);
            display: inline-block;
            animation: show .4s ease-out;

            #info {
                padding-top: 2rem;
                border-top: .1rem solid var(--light-title);

                a {
                    display: block;
                    cursor: pointer;
                }
            }

            #links {
                display: flex;
                justify-content: center;
                gap: 1rem;
                border-top: .1rem solid var(--light-title);
                padding-top: 2rem;
                padding-bottom: 2rem;

                a {
                    margin: 0;
                }
            }

            #close {
                display: inline-block;
            }
        }

        #close {
            position: absolute;
            top: 1rem;
            right: 1.5rem;
            cursor: pointer;
            font-size: 4rem;
            color: var(--light-title);

            &:hover {
                transform: rotate(90deg);
            }
        }

        a {
            display: block;
            padding: 1rem;
            margin: 1rem;
            color: var(--light-text);
            @include titleText(1.5rem, bold);

            &:hover {
                color: var(--apple-400);
            }

            &.active {
                color: var(--apple-400);
            }
        }

        #links {
            a {
                color: var(--light-title);
                padding: .7rem;

                &:hover {
                    color: var(--apple-400);
                }
            }
        }
    }

    .projects {
        justify-items: center;

        .box-container {
            .box {
                .image {
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {
    .header {
        .contact-info {
            width: 30rem;
        }
    }

    .home .slide {
        justify-content: center;

        .content {
            text-align: center;

            h3 {
                font-size: 3rem;
            }
        }
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .about {
        .box-container {
            @include grid(25rem);
        }
    }
}