@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

:root {
    --white: #fff;
    --black: #111;
    --yellow: #f5bf23;
    --light-color: #565656;
    --light-bg: #eee;
    --box-shadow: 0 .5rem 1rem rgba(63, 63, 63, 0.1);
    --border: .1rem solid rgba(0, 0, 0, .3);
}

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}

@mixin titleText($titleSize) {
    font-size: $titleSize;
    color: var(--black);
    text-transform: capitalize;
}

@mixin graphText($graphSize) {
    font-size: $graphSize;
    color: var(--light-color);
    line-height: 1.5;
}

@mixin iconBox() {
    height: 3rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;
    border-radius: 5%;

    &:hover {
        background: var(--black);
        color: var(--white);
    }
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    font-size: 62%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--yellow);
    }
}

section {
    padding: 5rem;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--yellow);
}

.swiper-wrapper {
    transition-timing-function: linear;
}

.heading {
    margin-bottom: 3rem;
    @include titleText(3rem);
    padding-left: 1rem;
    border-left: 1rem solid var(--yellow);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--yellow);
    color: var(--black);
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: capitalize;

    &:hover {
        background: var(--black);
        color: var(--white);
    }
}

.header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: var(--box-shadow);
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: var(--white);

    .logo {
        @include titleText(2.5rem);

        span {
            color: var(--yellow);
        }
    }

    .navbar a {
        @include titleText(1.6rem);
        margin: 1rem;

        &:hover {
            border-bottom: .4rem solid var(--yellow);
            padding: .5rem;
        }

        &.active {
            border-bottom: .4rem solid var(--yellow);
            padding: .5rem;
        }
    }

    .icons div {
        @include iconBox();
        margin-left: .3rem;
    }

    #menu-btn {
        display: none;
    }
}

@keyframes show {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.contact-info {
    position: fixed;
    top: 0;
    right: 0;
    width: 35rem;
    background-color: var(--white);
    height: 100%;
    text-align: center;
    z-index: 1100;
    padding: 0 2rem;
    padding-top: 5rem;
    display: none;

    &.active {
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, .7);
        display: block;
        animation: show .4s ease-out;
    }

    #close {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        cursor: pointer;
        font-size: 4rem;
        color: var(--black);

        &:hover {
            transform: rotate(90deg);
        }
    }

    .info {
        padding: 2rem 0;

        div {
            @include iconBox();
            margin-left: 13rem;
            height: auto;
            padding: 1rem;
        }

        h3 {
            @include titleText(2rem);
            padding: 1rem 0;
        }

        p {
            @include graphText(1.5rem);
        }
    }

    .share {
        padding-top: 2rem;
        border-top: var(--border);
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        a {
            div {
                @include iconBox();
                margin: 1rem .3rem;
                height: auto;
                padding: 1rem;
            }
        }
    }
}

.home {
    padding: 0;

    .slide {
        min-height: 40rem;
        display: flex;
        align-items: center;
        position: relative;
        background-size: cover !important;
        background-position: center !important;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(60deg, rgb(37, 37, 37), transparent);
        }

        .content {
            width: 50rem;
            position: relative;
            padding: 3rem;

            h3 {
                @include titleText(5rem);
                text-transform: uppercase;
                color: var(--white)
            }

            p {
                @include graphText(1.5rem);
                padding: 1rem 0;
                color: var(--white);
            }
        }
    }
}

.about {
    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;

        .video {
            flex: 1 1 41rem;

            video {
                width: 100%;
            }
        }

        .content {
            flex: 1 1 41rem;

            h3 {
                @include titleText(3.5rem);
            }

            p {
                @include graphText(1.5rem);
                padding: 1rem;
            }

        }
    }

    .box-container {
        margin-top: 3rem;
        @include grid(16rem);
        align-items: flex-end;

        .box {
            text-align: center;
            background: var(--light-bg);
            padding: 3rem 2rem;

            h3 {
                @include titleText(4rem);
            }

            p {
                @include graphText(1.5rem);
            }
        }
    }
}

.services {
    background: var(--light-color);

    .heading {
        color: var(--white)
    }

    .box-container {
        @include grid(25rem);

        .box {
            text-align: center;
            padding: 3rem;
            background: var(--white);
            box-shadow: var(--box-shadow);
            border: var(--border);

            &:hover img {
                transform: translateY(-1rem);

            }

            img {
                height: 7rem;
                margin-bottom: .5rem;
            }

            h3 {
                @include titleText(2rem);
                padding: 1rem 0;
            }

            p {
                @include graphText(1.5rem);

            }
        }
    }
}

.projects {
    background: var(--black);

    .heading {
        color: var(--white)
    }

    .box-container {
        @include grid(30rem);

        .box {
            cursor: pointer;

            // &:hover .image img {
            //     transform: scale(1.1);
            //     filter: blur(4px);
            // }

            // &:hover .image img {
            //     transform: scale(1.1);
            // }

            .image {
                height: 40rem;
                overflow: hidden;
                position: relative;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                &::after {
                    --yellow: #f5c123ad;
                    content: url(/assets/icons/eye.svg);
                    position: absolute;
                    background: var(--yellow);
                    inset: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    transition: all .2s ease;
                }

                &:hover::after {
                    opacity: 1;
                }

            }

            .content {
                display: flex;
                background: var(--white);
                justify-content: space-between;

                .info {
                    padding: 1rem 2rem;

                    h3 {
                        @include titleText(1.7rem)
                    }

                    p {

                        @include graphText(1.5rem)
                    }
                }
            }
        }
    }
}

.reviews {

    .reviews-slider {
        height: fit-content;
    }

    .slide {
        p {
            padding: 1.4rem;
            background: var(--light-bg);
            position: relative;
            margin-bottom: 3rem;
            line-height: 3rem;

            @include titleText(1.4rem);

            &::before {
                content: '';
                position: absolute;
                bottom: -1rem;
                left: 2rem;
                height: 2rem;
                width: 2rem;
                background: var(--light-bg);
                transform: rotate(45deg);
            }
        }

        .user {
            display: flex;
            align-items: center;
            gap: 1.5rem;

            img {
                height: 7rem;
                width: 7rem;
            }

            h3 {
                @include titleText(2rem);
            }

            .stars {
                padding-top: .5rem;

                svg {
                    font-size: 1.3rem;
                    color: var(--yellow);
                }

            }
        }
    }
}

.contact {
    background: var(--light-bg);

    .heading {
        color: var(--black);
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .map {
            flex: 1 1 41rem;
            width: 100%;
        }

        form {
            flex: 1 1 41rem;
            background: var(--white);
            padding: 2rem;
            box-shadow: var(--box-shadow);

            .box {
                margin: .7rem 0;
                width: 100%;
                padding: 1.5rem;
                font-size: 1.6rem;
                color: var(--light-color);
                outline: none;
                border-bottom: var(--border);

                &:focus {
                    border-bottom: var(--border);
                    border-color: var(--yellow);
                    transition: all 0.3s ease;
                }
            }


            textarea {
                height: 15rem;
                resize: none;
            }

            input[type=submit] {
                width: 100%;
            }
        }
    }
}

.logo-container {
    text-align: center;
    height: fit-content;

    h3 {
        @include titleText(3rem);
        padding-bottom: 2rem;
    }

    img {
        height: 10rem;
        pointer-events: none;
        user-select: none;
    }
}









@media (max-width:1200px) {

    .header {
        padding: 1.5rem 1rem;
    }

    section {
        padding: 3rem 5%;
    }
}

@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    section {
        padding: 3rem 2rem;
    }

    .header {

        #menu-btn {
            display: inline-block;
        }

        .navbar {
            position: fixed;
            top: 0;
            right: 0;
            width: 25rem;
            background-color: var(--white);
            height: 100%;
            text-align: center;
            z-index: 1100;
            padding: 0 1rem;
            padding-top: 3rem;
            display: none;

            &.active {
                box-shadow: 0 0 0 100vw rgba(0, 0, 0, .7);
                display: block;
                animation: show .4s ease-out;
            }

            // position: absolute;
            // top: 99%;
            // left: 0;
            // right: 0;
            // background: var(--light-bg);
            // border-top: var(--border);
            // border-bottom: var(--border);
            // clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

            // &.active {
            //     clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            // }

            a {
                display: block;
                padding: 1rem;
                margin: 1rem;

                &:hover {
                    background: var(--yellow);
                    padding: .5rem;
                    border-bottom: none;
                }

                &.active {
                    background: var(--yellow);
                    padding: .5rem;
                }
            }

        }

        .icons {
            display: flex;
            gap: .5rem;

            div {
                @include iconBox();
            }
        }
    }
}

@media (max-width:768px) {
    .header {
        .contact-info {
            width: 30rem;
        }
    }

    .home .slide {
        justify-content: center;

        .content {
            text-align: center;

            h3 {
                font-size: 3rem;
            }
        }
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}